<!-- **********Login Section********** -->
<form id="signUpForm" class="col-sm-6 col-xs-12">
	<h2 class="col-md-12">
		Welcome to ISLAND
	</h2>
	<h4 class="col-md-12">
		Sign Up to enter 
	</h4>
	<div class="col-md-12 statusMsg">
		<label class="label label-success">Signup successful. Please check your email...</label>
		<label class="label label-danger">Email Already Exists</label>
	</div>
	<div class="col-md-6">
		<input class="form-control" type="text" id="firstName" name="firstName" placeholder="First name" data-ng-model="user.firstName" data-ng-keyup="validateFname()"/>
		<span class="error-icon" data-ng-hide="fnameOk"></span>
	</div>
	<div class="col-md-6">
		<input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last name" data-ng-model="user.lastName" data-ng-keyup="validateLname()"/>
		<span class="error-icon" data-ng-hide="lnameOk"></span>
	</div>
	<div class="col-md-12">
		<input class="form-control" type="text" id="chosenEmail" name="chosenEmail" placeholder="Enter a valid email address" data-ng-model="user.email" data-ng-keyup="validateEmail()"/>
		<span class="error-icon" data-ng-hide="emailOk"></span>
	</div>
	<div class="col-md-12">
		<input class="form-control" type="password" id="chosenPswd" name="chosenPswd" placeholder="Choose a password" data-ng-model="user.password" data-ng-keyup="validatePswd()"/>
		<span class="error-icon" data-ng-hide="pswdOk"></span>
	</div>
	<div class="col-md-12">
		<input class="form-control" type="password" id="reChosenPswd" name="reChosenPswd" placeholder="Re-enter the password" data-ng-model="user.rePassword" data-ng-keyup="validateRePswd()"/>
		<span class="error-icon" data-ng-hide="rePswdOk"></span>
	</div>
	<div class="col-md-12">
		<label class="col-xs-4"><input type="radio" name="gender" value="M"checked="checked"> Male</label>
		<label class="col-xs-4"><input type="radio" name="gender" value="F"> Female</label>
		<label class="col-xs-4"><input type="radio" name="gender" value="O"> Other</label>
	</div>
	<div class="col-md-12">
		<input type="button" class="btn btn-primary btn-lg btn-block" id="signup" value="Sign Up" data-ng-click="signup()"/>
	</div>
</form>

<!-- *******Signin Section*********** -->
<form class="col-sm-6 col-xs-12">
	<h2 class="col-md-12">
		Already on ISLAND?
	</h2>
	<h4 class="col-md-12">
		Please Sign In 
	</h4>
	<div class="col-md-12">
		<input class="form-control required" type="text" id="userName" name="userName" placeholder="Enter username"/>
		<span class="error-icon"></span>
	</div>
	<div class="col-md-12">
		<input class="form-control required" type="password" id="pswd" name="pswd" placeholder="Enter password"/>
		<span class="error-icon"></span>
	</div>
	<div class="col-md-12">
		<input type="button" class="btn btn-success btn-lg btn-block" id="signin" value="Sign In"/>
	</div>
</form>